<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="appName" value="NitroSense NB" />
    <add key="appVersion" value="v3.01.3052" />
    <add key="appDate" value="20230420" />
    <!--<add key="qa_version" value="3.00.3000" />-->
	  <add key="packageName" value="AcerIncorporated.NitroSenseV31_48frkmn4z8aw4" />
    <add key="packageDirectory" value="NitroSenseV3.1" />
    <add key="packagePath" value="1c600dfbf01848ff805f57b2ea9b2ca5.appxbundle" />
    <add key="licensePath" value="1c600dfbf01848ff805f57b2ea9b2ca5_License1.xml" />
	<add key="dependencyX64Number" value="6" />
    <!-- x64 -->
    <add key="dependencyX64Packagepath1" value="Microsoft.NET.Native.Framework.1.3_1.3.24211.0_x64__8wekyb3d8bbwe.appx" />
    <add key="dependencyX64Packagepath2" value="Microsoft.NET.Native.Framework.1.3_1.3.24211.0_x86__8wekyb3d8bbwe.appx" />
    <add key="dependencyX64Packagepath3" value="Microsoft.NET.Native.Runtime.1.4_1.4.24201.0_x64__8wekyb3d8bbwe.appx" />
    <add key="dependencyX64Packagepath4" value="Microsoft.NET.Native.Runtime.1.4_1.4.24201.0_x86__8wekyb3d8bbwe.appx" />
    <add key="dependencyX64Packagepath5" value="Microsoft.VCLibs.140.00_14.0.30704.0_x64__8wekyb3d8bbwe.appx" />
    <add key="dependencyX64Packagepath6" value="Microsoft.VCLibs.140.00_14.0.30704.0_x86__8wekyb3d8bbwe.appx" />    
  </appSettings>
</configuration>
