<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="acc_version" value="4.00.3048" />
	<add key="packageName" value="AcerIncorporated.AcerCareCenterS_48frkmn4z8aw4" />
    <add key="packagedirectory" value="CareCenterUWP\x64" />
	<add key="packagedirectory_x86" value="CareCenterUWP\x86" />
    <add key="packagepath" value="5f32f52456f94b07930cb57fbd031a41.appx" />
	<add key="licensepath" value="5f32f52456f94b07930cb57fbd031a41_License1.xml" />
	<add key="packagepath_x86" value="dc5c5f87271542499094834e41fd4952.appx" />
	<add key="licensepath_x86" value="dc5c5f87271542499094834e41fd4952_License1.xml" />
    <!-- x64 -->
	<add key="dependencyX64Number" value="6" />
    <add key="dependencypackagepath1" value="Microsoft.NET.Native.Framework.1.3_1.3.24211.0_x64__8wekyb3d8bbwe.appx" />
    <add key="dependencypackagepath2" value="Microsoft.NET.Native.Framework.1.3_1.3.24211.0_x86__8wekyb3d8bbwe.appx" />
    <add key="dependencypackagepath3" value="Microsoft.NET.Native.Runtime.1.4_1.4.24201.0_x64__8wekyb3d8bbwe.appx" />
    <add key="dependencypackagepath4" value="Microsoft.NET.Native.Runtime.1.4_1.4.24201.0_x86__8wekyb3d8bbwe.appx" />
    <add key="dependencypackagepath5" value="Microsoft.VCLibs.140.00_14.0.30704.0_x64__8wekyb3d8bbwe.appx" />
    <add key="dependencypackagepath6" value="Microsoft.VCLibs.140.00_14.0.30704.0_x86__8wekyb3d8bbwe.appx" />
    <!-- x86 -->
    <add key="dependencypackagepath_x86" value="Microsoft.NET.Native.Framework.1.3_1.3.24211.0_x86__8wekyb3d8bbwe.appx" />
    <add key="dependencypackagepath2_x86" value="Microsoft.NET.Native.Runtime.1.4_1.4.24201.0_x86__8wekyb3d8bbwe.appx" />
    <add key="dependencypackagepath3_x86" value="Microsoft.VCLibs.140.00_14.0.30704.0_x86__8wekyb3d8bbwe.appx" />
  </appSettings>
</configuration>